<!DOCTYPE html>
<html>
<head>
  <title>Kakomon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_member %>
    <p><%= current_member.name %>さん
      <%= link_to "ログアウト", :session, method: :delete,
      data: { confirm: "ログアウトしますか？" }  %></p>
  <% else %>
    <p><%= link_to "ログイン", :members %></p>
  <% end %>

<%= yield %>

</body>
</html>
