<h1><%= @past_question.subject %></h1>
<% if flash.notice %>
  <p><%= flash.notice %></p>
<% end %>

<p><%= link_to "編集する", [:edit, :admin, @past_question] %></p>
<p>
  <ul>
    <li>教授:<%= @past_question.teacher %></li>
    <li>開講期:<%= @past_question.exam_date.term %></li>
    <li>年度:<%= @past_question.exam_date.year %></li>
    <li>タグ:</li>
    <ul>
      <% @past_question.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
    <br>
    <p>管理情報----------------------</p>
    <li>exam_date_id : <%= @past_question.exam_date_id %></li>
    <li>tag_ids :</li>
    <ul>
      <% @past_question.tags.each do |tag| %>
          <li>tag_id : <%= tag.id %></li>
      <% end %>
    </ul>
    <p>----------------------------------</p>
  </ul>
</p>
<p><%= form_tag [:set_tag, :admin, @past_question, :tags] %>
  <%= text_field_tag "name", params[:name] %>
  <%= submit_tag "タグを追加" %>
</p>

<% @past_question.images.each do |image| %>
  <p><%= image.current_path %></p>
  <% if File.extname(image.url) == '.pdf' %>
    <object data="<%= base64_image_data(image.current_path) %>" width="100%" height="800px" alt="過去問の画像"></object>
  <% else %>
    <object data="<%= base64_image_data(image.current_path) %>" width="80%" height="" alt="過去問の画像"></object>
  <% end %>
<% end %>
