<div class="container">
  <% @page_title = "ログイン" %>
  <% if flash.alert %><p><%= flash.alert %></p><% end %>
  <% if flash.notice %><p><%= flash.notice %></p><% end %>

  <% unless current_member %>
    <%= form_tag :session, class: "form-signin" do %>
      <h2 class="form-signin-heading"><%= @page_title %></h2>
      <table>
        <tr>
          <td>ユーザー名</td>
          <td><%= text_field_tag "name", "", style: "width: 120px", class: "form-control"%></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= password_field_tag "password", "", style: "width: 120px", class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= submit_tag "login", class: "btn btn-lg btn-primary btn-block" %></td>
        </tr>
      </table>
    <% end %>
  <% else %>
    <p><%= current_member.name%>さん　｜　<%= link_to "ログアウト", :session,
      method: :delete, data: { confirm: "ログアウトしますか？" } %></p>
  <% end %>
</div>
