<% @page_title = "メンバーの一覧" %>
<h1><%= @page_title %></h1>
<p><%= link_to "過去問サイトのトップへ戻る", :root %>

<% unless current_member %>
  <% if flash.alert %><p><%= flash.alert %></p><% end %>

  <%= form_tag :session do %>
    <table>
      <tr>
        <td>ユーザー名</td>
        <td><%= text_field_tag "name", "", style: "width: 120px" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= password_field_tag "password", "", style: "width: 120px" %></td>
      </tr>
      <tr>
        <td><%= submit_tag "login" %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p><%= current_member.name%>さん　｜　<%= link_to "logout", :session,
    method: :delete, data: { confirm: "ログアウトしますか？" } %></p>
<% end %>
