<% @page_title = "メンバーの一覧" %>
<h1><%= @page_title %></h1>
<p><%= link_to "過去問サイトのトップへ戻る", :root %>

<p><%= link_to "メンバーの追加", :new_member %></p>

<% unless current_member %>
  <% if flash.alert %><p><%= flash.alert %></p><% end %>

  <%= form_tag :session do %>
    <table>
      <tr>
        <td>ユーザー名</td>
        <td><%= text_field_tag "name", "", style: "width: 120px" %></td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td><%= password_field_tag "password", "", style: "width: 120px" %></td>
      </tr>
      <tr>
        <td><%= submit_tag "login" %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p><%= current_member.name%>さん　｜　<%= link_to "logout", :session,
    method: :delete, data: { confirm: "ログアウトしますか？" } %></p>
<% end %>

<% if @members.present? %>
<table>
  <tr>
    <th>ユーザー名</th>
    <th>操作</th>
  </tr>
  <% @members.each do |member| %>
  <tr>
    <td><%= link_to member.name, member %></td>
    <td>
      <%= link_to "編集", [:edit, member] %>
      <%= link_to "削除", member, method: :delete,
            data: { confirm: "本当に削除しますか？"} %>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>会員情報がありません</p>
<% end %>
