<%= form_for @past_question do |f| %>

<p>
	<%= f.label :科目名 %><br>
	<%= f.text_field :subject %>
	<%= f.label :教授 %><br>
	<%= f.text_field :teacher %>
	<%= f.label :年度 %><br>
	<%= f.text_field :year %>
	<%= f.label :開講期 %><br>
	<%= select_tag 'exam_date[term]', options_for_select(["前期", "後期", "通年", "前期集中", "後期集中"]) %>
	
</p>
