<div class="container">
  <h1>過去問データベースの検索</h1>

  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>
  <br>
  <%= form_tag :search_past_questions, method: :get do %>
    <div class="form-group row">
      <label for="search_subject" class="col-xs-2 col-form-label">科目名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_subject", params[:search_subject], class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_teacher" class="col-xs-2 col-form-label">教師</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_teacher", params[:search_teacher], class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_year" class="col-xs-2 col-form-label">年度</label>
      <div class="col-xs-4">
        <%= number_field_tag "search_year", params[:search_year], in:2011..2100, title: "2011から2100の値を入力してください", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_term" class="col-xs-2 col-form-label">開講期</label>
      <div class="col-xs-4">
        <%= select_tag :search_term, options_for_select(term_option, @term), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag1" class="col-xs-2 col-form-label">全学共通・専門科目</label>
      <div class="col-xs-4">
        <%= select_tag :search_tag1, options_for_select(faculty_option, @faculty), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag2" class="col-xs-2 col-form-label">タグ名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_tag2", params[:search_tag2], class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag3" class="col-xs-2 col-form-label">タグ名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_tag3", params[:search_tag3], class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <label for="sort_method" class="col-xs-2 col-form-label">ソート方法</label>
      <div class="col-xs-4">
        <%= select_tag :sort_method, options_for_select(sort_option, @sort), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4 col-xs-offset-2">
        <%= submit_tag "検索", class: "btn btn-primary btn-lg btn-block"%>
      </div>
    </div>
  <% end %>
  <br>

  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
      </tr>
    </thead>
  <% @past_questions.each do |past_question| %>
    <tbody>
      <tr>
  	    <th scope="row"><%= link_to past_question.subject, past_question %></th>
  	    <td><%= past_question.teacher %></td>
  	    <td><%= japanese_term(past_question.exam_date.term) %></td>
  	    <td><%= past_question.exam_date.year %></td>
        <td><%= past_question.views %></td>
  	    <td class="col-xs-3">
          <% past_question.tags.each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td><%= past_question.created_at.strftime('%Y年%m月%d日') %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= will_paginate @past_questions %>
</div>
