<div class="container">
  <h1>過去問データベースの検索</h1>

  <p><%= flash.notice %></p>
  <br>
  <%= form_tag :search_past_questions, method: :get do %>
    <table>
      <tr>
        <th>教科名　：　</th>
        <td><%= text_field_tag "search_subject", params[:search_subject] %></td>
      </tr>
      <tr>
        <th>教師　：　</th>
        <td><%= text_field_tag "search_teacher", params[:search_teacher] %></td>
      </tr>
      <tr>
        <th>年度　：　</th>
        <td><%= number_field_tag "search_year", params[:search_year], in:2011..2050, title: "2011から2050の値を入力してください" %></td>
      </tr>
      <tr>
        <th>開講期　：　</th>
        <td><%= select_tag :search_term, options_for_select([["条件なし",""],["前期","first_semester"],["後期", "latter_semester"],["通年", "year_round"],["前期集中","i_first_semester"],["後期集中", "i_second_semester"]]) %></td>
      </tr>
      <tr>
        <th>タグ名　：　</th>
        <td><%= text_field_tag "search_tag1", params[:search_tag1] %></td>
      </tr>
      <tr>
        <th>タグ名　：　</th>
        <td><%= text_field_tag "search_tag2", params[:search_tag2] %></td>
      </tr>
      <tr>
        <th>タグ名　：　</th>
        <td><%= text_field_tag "search_tag3", params[:search_tag3] %></td>
      </tr>
      <tr>
        <th>ソート方法　：　</th>
        <td><%= select_tag :sort_method, options_for_select([["追加日時","created_at"],["年度降順","year_desc"],["年度昇順", "year_asce"],["閲覧数", "views"],["教科名","subject"],["教授名", "teacher"]]) %></td>
      </tr>
      <tr>
        <td><%= submit_tag "検索" %></td>
      </tr>
    </table>
  <% end %>
  <br>

  <table class="table table-hover table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
      </tr>
    </thead>
  <% @past_questions.each do |past_question| %>
    <tbody>
      <tr>
  	    <th scope="row"><%= link_to past_question.subject, past_question %></th>
  	    <td><%= past_question.teacher %></td>
  	    <td><%= japanese_term(past_question.exam_date.term) %></td>
  	    <td><%= past_question.exam_date.year %></td>
        <td><%= past_question.views %></td>
  	    <td>
          <% past_question.tags.each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td><%= past_question.created_at %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= will_paginate @past_questions %>
</div>
