<div class="container container-show">
  <% @page_title = @past_question.subject %>
  <h1><%= @page_title %></h1>
  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>

  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1">科目名</th>
        <th class="col-xs-4"><%= @past_question.subject %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>教授</th>
        <td><%= @past_question.teacher %></td>
      </tr>
      <tr>
        <th>開講期</th>
        <td><%= japanese_term(@past_question.exam_date.term) %></td>
      </tr>
      <tr>
        <th>年度</th>
        <td><%= @past_question.exam_date.year %></td>
      </tr>
      <tr>
        <th class="col-xs-2">タグ</th>
        <td class="col-xs-10">
          <% @past_question.tags.each do |tag| %>
            <a class="btn btn-success" href="<%= url_for(tag) %>" role="button"><%= tag.name %></a>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <%= form_tag [:set_tag, @past_question, :tags] %>
    <%= text_field_tag "name", params[:name] %>
    <%= submit_tag "タグを追加" %>
  </div>

  <div class="image">
    <% @past_question.images.each do |image| %>
      <% if File.extname(image.url) == '.pdf' %>
        <object data="<%= base64_image_data(image.current_path) %>" width="100%" height="800px" alt="過去問の画像"></object>
      <% else %>
        <object data="<%= base64_image_data(image.current_path) %>" width="80%" height="" alt="過去問の画像"></object>
      <% end %>
    <% end %>
  </div>
</div>
