<h1>タグのshow</h1>

<h2><%= @tag.name %></h2>

<p><%= link_to "トップへ戻る", "/" %></p>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
        <% if editor_member %>
          <th>編集・削除</th>
        <% end %>
      </tr>
    </thead>
  <% @tag.past_questions.each do |past_question| %>
    <tbody>
      <td><%= link_to past_question.subject, past_question %></td>
      <td><%= past_question.teacher %></td>
      <td><%= past_question.exam_date.term %></td>
      <td><%= past_question.exam_date.year %></td>
      <td><%= past_question.views %></td>
      <td>
        <% past_question.tags.each do |tag| %>
          <%= link_to tag.name, tag %>
        <% end %>
      </td>
      <td><%= past_question.created_at %></td>
    <% if editor_member %>
      <td><%= link_to "編集", [:edit, past_question], class:'btn btn-default btn-sm' %>
        <% if super_member %>
          <%= link_to "削除", past_question, method: :delete, data: {confirm: "本当に削除しますか?" },class:'btn btn-danger btn-sm' %>
        <% end %>
      </td>
    <% end %>
    </tbody>
  <% end %>
  </table>
</div>
