<div class="container">
  <% @page_title = @tag.name %>

  <h2><%= @page_title %></h2>
  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
      </tr>
    </thead>
  <% @tag.past_questions.each do |past_question| %>
    <% if past_question.pub %>
      <tbody>
        <td><%= link_to past_question.subject, past_question %></td>
        <td><%= past_question.teacher %></td>
        <td><%= past_question.exam_date.term %></td>
        <td><%= past_question.exam_date.year %></td>
        <td><%= past_question.views %></td>
        <td>
          <% past_question.tags.each do |tag| %>
            <%= link_to tag.name, tag %>
          <% end %>
        </td>
        <td><%= past_question.created_at %></td>
      </tbody>
    <% end %>
  <% end %>
  </table>
</div>
