<h1>過去問データベース 編集者ページ</h1>
<p><%= link_to "アップロード", :new_editor_past_question, class:'btn btn-primary pull-right' %></p>
<% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>
<br><br>

<p><%= link_to "過去問サイトのトップへ戻る", :past_questions %></p>

<%= form_tag :search_editor_past_questions, method: :get do %>
  <table>
    <tr>
      <th>教科名　：　</th>
      <td><%= text_field_tag "search_subject", params[:search_subject] %></td>
    </tr>
    <tr>
      <th>教師　：　</th>
      <td><%= text_field_tag "search_teacher", params[:search_teacher] %></td>
    </tr>
    <tr>
      <th>年度　：　</th>
      <td><%= text_field_tag "search_year", params[:search_year] %></td>
    </tr>
    <tr>
      <th>開講期　：　</th>
      <td><%= text_field_tag "search_term", params[:search_term] %></td>
    </tr>
    <tr>
      <th>タグ名　：　</th>
      <td><%= text_field_tag "search_tag1", params[:search_tag1] %></td>
    </tr>
    <tr>
      <th>タグ名　：　</th>
      <td><%= text_field_tag "search_tag2", params[:search_tag2] %></td>
    </tr>
    <tr>
      <th>タグ名　：　</th>
      <td><%= text_field_tag "search_tag3", params[:search_tag3] %></td>
    </tr>
    <tr>
      <th>ソート方法　：　</th>
      <td><%= text_field_tag "sort_method", params[:sort_method] %></td>
    </tr>
    <tr>
      <td><%= submit_tag "検索" %></td>
    </tr>
  </table>
<% end %>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>公開</th>
        <th>タグ</th>
        <th>追加日時</th>
        <th>編集</th>
      </tr>
    </thead>
  <% @past_questions.each do |past_question| %>
    <tbody>
	    <td><%= link_to past_question.subject, [:editor, past_question] %></td>
	    <td><%= past_question.teacher %></td>
	    <td><%= past_question.exam_date.term %></td>
	    <td><%= past_question.exam_date.year %></td>
      <td><%= past_question.views %></td>
      <td><%= if past_question.pub then '公開' else '非公開' end %></td>
	    <td>
        <% past_question.tags.each do |tag| %>
          <%= link_to tag.name, [:editor, tag] %>
        <% end %>
      </td>
      <td><%= past_question.created_at %></td>
	    <td><%= link_to "編集", [:edit, :editor, past_question], class:'btn btn-default btn-sm' %>
      </td>
    </tbody>
  <% end %>
  </table>
  <%= will_paginate @past_questions %>
</div>
