<div class="container">
  <h1>過去問データベース 編集者ページ</h1>
  <p><%= link_to "アップロード", :new_editor_past_question, class:'btn btn-primary pull-right' %></p>
  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>
  <br>

  <%= form_tag :search_editor_past_questions, method: :get do %>
    <div class="form-group row">
      <label for="search_subject" class="col-xs-2 col-form-label">科目名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_subject", params[:search_subject], class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_teacher" class="col-xs-2 col-form-label">教師</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_teacher", params[:search_teacher], class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_year" class="col-xs-2 col-form-label">年度</label>
      <div class="col-xs-4">
        <%= number_field_tag "search_year", params[:search_year], in:2011..2100, title: "2011から2100の値を入力してください", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_term" class="col-xs-2 col-form-label">開講期</label>
      <div class="col-xs-4">
        <%= select_tag :search_term, options_for_select(term_option), selected: "first_semester", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_pub" class="col-xs-2 col-form-label">一般公開</label>
      <div class="col-xs-4">
        <%= select_tag :search_pub, options_for_select([["条件なし",""],["公開","true"],["非公開","false"]]), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag1" class="col-xs-2 col-form-label">全学共通・専門科目</label>
      <div class="col-xs-4">
        <%= select_tag :search_tag1, options_for_select(faculty_option, @faculty), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag2" class="col-xs-2 col-form-label">タグ名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_tag2", params[:search_tag2], class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <label for="search_tag3" class="col-xs-2 col-form-label">タグ名</label>
      <div class="col-xs-4">
        <%= text_field_tag "search_tag3", params[:search_tag3], class: "form-control"%>
      </div>
    </div>
    <div class="form-group row">
      <label for="sort_method" class="col-xs-2 col-form-label">ソート方法</label>
      <div class="col-xs-4">
        <%= select_tag :sort_method, options_for_select(sort_option), class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-4 col-xs-offset-2">
        <%= submit_tag "検索", class: "btn btn-primary btn-lg btn-block"%>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>科目名<%= check_box_tag :show_subject, true, true, {} %></th>
          <th>教授<%= check_box_tag :show_teacher, true, true, {} %></th>
          <th>開講期<%= check_box_tag :show_term, true, true, {} %></th>
          <th>年度<%= check_box_tag :show_year, true, true, {} %></th>
          <th>閲覧数<%= check_box_tag :show_views, true, true, {} %></th>
          <th>公開<%= check_box_tag :show_pub, true, true, {} %></th>
          <th>タグ<%= check_box_tag :show_tag, true, true, {} %></th>
          <th>追加日時<%= check_box_tag :show_created_at, true, true, {} %></th>
          <th>編集</th>
        </tr>
      </thead>
    <% end %>
    <% @past_questions.each do |past_question| %>
      <tbody>
        <td><%= link_to past_question.subject, [:editor, past_question] %></td>
        <td><%= past_question.teacher %></td>
        <td><%= japanese_term(past_question.exam_date.term) %></td>
        <td><%= past_question.exam_date.year %></td>
        <td><%= past_question.views %></td>
        <td><%= if past_question.pub then '公開' else '非公開' end %></td>
        <td>
          <% past_question.tags.each do |tag| %>
            <%= link_to tag.name, [:editor, tag] %>
          <% end %>
        </td>
        <td><%= past_question.created_at %></td>
        <td><%= link_to "編集", [:edit, :editor, past_question], class:'btn btn-default btn-sm' %></td>
      </tbody>
    <% end %>
    </table>
  <%= will_paginate @past_questions %>
</div>
