<div class="container">
  <h1><%= @past_question.subject %></h1>
  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>

  <p><%= link_to "編集する", [:edit, :editor, @past_question], { class: "btn btn-lg btn-primary" } %></p>
  <p>
    <ul>
      <li>教授: <%= @past_question.teacher %></li>
      <li>年度: <%= @past_question.exam_date.year %></li>
      <li>開講期: <%= japanese_term(@past_question.exam_date.term) %></li>
      <li>タグ:
        <% @past_question.tags.each do |tag| %>
          <%= link_to tag.name, [:editor, tag], { class: "btn btn-success" } %>
        <% end %>
      </li>
    </ul>
  </p>
  <p><%= form_tag [:set_tag, :editor, @past_question, :tags] %>
    <%= text_field_tag "name", params[:name] %>
    <%= submit_tag "タグを追加" %>
  </p>

  <% if File.extname(@past_question.image_url) == '.pdf' %>
    <object data="<%= base64_image_data %>" width="100%" height="800px" alt="過去問の画像"></object>
  <% else %>
    <object data="<%= base64_image_data %>" width="80%" height="" alt="過去問の画像"></object>
  <% end %>
</div>
