<div class="container">
  <h1>タグの一覧</h1>
  <% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>タグ名</th>
        <th>過去問数</th>
        <th>作成日時</th>
      </tr>
    </thead>
  <% @tags.each do |tag| %>
    <tbody>
	    <td><%= link_to tag.name, [:editor, tag] %></td>
	    <td><%= tag.past_questions.count %></td>
      <td><%= tag.created_at %></td>
    </tbody>
  <% end %>
  </table>
  <%= will_paginate @tags %>
</div>
