<h1>タグのshow</h1>
<% if flash.notice %><p><font color=#ff0000><%= flash.notice %></font></p><% end %>
<h2><%= @tag.name %></h2>

<p><%= link_to "編集者ページのトップへ戻る", :editor_root %></p>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
        <th>編集</th>
      </tr>
    </thead>
  <% @tag.past_questions.each do |past_question| %>
    <tbody>
      <td><%= link_to past_question.subject, [:editor, past_question] %></td>
      <td><%= past_question.teacher %></td>
      <td><%= past_question.exam_date.term %></td>
      <td><%= past_question.exam_date.year %></td>
      <td><%= past_question.views %></td>
      <td>
        <% past_question.tags.each do |tag| %>
          <%= link_to tag.name, [:editor, tag] %>
        <% end %>
      </td>
      <td><%= past_question.created_at %></td>
      <td><%= link_to "編集", [:edit, :editor, past_question], class:'btn btn-default btn-sm' %></td>
    </tbody>
  <% end %>
  </table>
</div>
