<div class="container">
  <h1>タグのshow</h1>
  <p><%= flash.notice %></p>

  <h2><%= @tag.name %></h2>
  <ul>
    <li>tag_id : <%= @tag.id %></li>
    <li>lock flag　：　<%= @tag.lock %></li>
    <li>過去問数　：　<%= @tag.past_questions.count %></li>
    <li>追加日時　：　<%= @tag.created_at %></li>
    <li>変更日時　：　<%= @tag.created_at %></li>
  </ul>
  <p><%= link_to "タグの情報の編集", [:edit, :admin, @tag] %></p>
  <p><%= link_to "このタグを削除", [:admin, @tag], method: :delete,
    data: { confirm: "本当に削除しますか?\nこのタグが付けられている過去問全てに影響が生じます。注意してください。"} %></p>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>科目名</th>
        <th>教授</th>
        <th>開講期</th>
        <th>年度</th>
        <th>閲覧数</th>
        <th>タグ</th>
        <th>追加日時</th>
        <th>編集・削除</th>
      </tr>
    </thead>
  <% @tag.past_questions.each do |past_question| %>
    <tbody>
      <td><%= link_to past_question.subject, [:admin, past_question] %></td>
      <td><%= past_question.teacher %></td>
      <td><%= past_question.exam_date.term %></td>
      <td><%= past_question.exam_date.year %></td>
      <td><%= past_question.views %></td>
      <td>
        <% past_question.tags.each do |tag| %>
          <%= link_to tag.name, [:admin, tag] %>
        <% end %>
      </td>
      <td><%= past_question.created_at %></td>
      <td><%= link_to "編集", [:edit, :admin, past_question], class:'btn btn-default btn-sm' %>
          <%= link_to "削除", [:admin, past_question], method: :delete,
            data: {confirm: "本当に削除しますか?" },class:'btn btn-danger btn-sm' %>
      </td>
    </tbody>
  <% end %>
  </table>
</div>
